doctype html 
html
	body
		form#lookupReps(action="post")
			label Street address:
				input#address(name="address", type="text", placeholder="1 Microsoft Way, Redmond, WA 98052")
			input#submit(type="submit")